*{
    box-sizing: border-box;
     padding: 0;
   
}

.container{
    margin:0  auto;
    width:1000px;
    border: 1px solid lightgray
}
.header-box{
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding:12px;

}
.react-box{
    display: flex;
    flex-direction: row;
    cursor: pointer;
   
}
.icon-box{
    margin-left: 15px;
    height: 40px;
    line-height: 40px;
    width: 30px;
    border-radius: 10px;
    text-align: center;
    background: rgb(236, 232, 232);
}
button{
    cursor: pointer;
    height: 40px;
    width:150px;
    border-radius:12px;
    color: white;
    box-shadow: none;
    border:none;
}
.btn-apply button{
    background-color: #2164f4 ;
}
.applied button{
  background-color: #ff6600;
}
.tabella{
    margin-top: 15px;
    list-style: none;
    padding: 12px;
 
}

