/* *{
    box-sizing: border-box;
     padding: 0;
   
} */

.containerJobOffers{
    margin: 0 auto;
    width:1200px;
    border: 1px solid lightgray
}
.header-box{
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    padding-left: 15px;

}
.react-box{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 20px;
}
.announcement-box{

}
p{
    font-size: 18px;
}
.icon-box{
    margin-left: 15px;
    height: 50px;
    line-height: 50px;
    width: 30px;
    border-radius: 10px;
    text-align: center;
    background: rgb(236, 232, 232);
}
.applied button, .btn-apply button{
    cursor: pointer;
    height: 50px;
    width:160px;
    border-radius:12px;
    color: white;
    box-shadow: none;
    border:none;
}
.btn-apply button{
    background-color: #2164f4 ;
}
.applied button{
  background-color: #ff6600;
}
.tabella{
    margin-top: 15px;
    list-style: none;
     padding-left: 15px;
  
}
.applied-notification{
   background-color: red;
   position: relative;
   bottom:100px;
   left:50%;
}
